html{
    overflow-y: scroll;
}
#contentPanel {
	margin-left: 10%;
	margin-right: 10%;
}
body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.thumb {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}

.dropdown-menu {
	padding: 20px;
	border-radius: 10px;
	box-shadow: 2px 2px 6px black;
	margin-top: 3px;
}

.comment-box {
	padding-left: 50px;
	padding-right: 50px;
}